@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../font/OpenSans/ttf/OpenSans-Light.ttf);
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/OpenSans/open-sans-normal-300.woff2) format('woff2'), url(../font/OpenSans/open-sans-normal-300.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../font/OpenSans/ttf/OpenSans.ttf);
    src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans/open-sans-normal-400.woff2) format('woff2'), url(../font/OpenSans/open-sans-normal-400.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../font/OpenSans/ttf/OpenSans-Semibold.ttf);
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../font/OpenSans/open-sans-normal-600.woff2) format('woff2'), url(../font/OpenSans/open-sans-normal-600.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/OpenSans/ttf/OpenSans-Bold.ttf);
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/OpenSans/open-sans-normal-700.woff2) format('woff2'), url(../font/OpenSans/open-sans-normal-700.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../font/OpenSans/ttf/OpenSans-ExtraBold.ttf);
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../font/OpenSans/open-sans-normal-800.woff2) format('woff2'), url(../font/OpenSans/open-sans-normal-800.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url(../font/OpenSans/ttf/OpenSansLight-Italic.ttf);
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../font/OpenSans/open-sans-italic-300.woff2) format('woff2'), url(../font/OpenSans/open-sans-italic-300.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url(../font/OpenSans/ttf/OpenSans-Italic.ttf);
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../font/OpenSans/open-sans-italic-400.woff2) format('woff2'), url(../font/OpenSans/open-sans-italic-400.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url(../font/OpenSans/ttf/OpenSans-SemiboldItalic.ttf);
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../font/OpenSans/open-sans-italic-600.woff2) format('woff2'), url(../font/OpenSans/open-sans-italic-600.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url(../font/OpenSans/ttf/OpenSans-BoldItalic.ttf);
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../font/OpenSans/open-sans-italic-700.woff2) format('woff2'), url(../font/OpenSans/open-sans-italic-700.woff2) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url(../font/OpenSans/ttf/OpenSans-ExtraBoldItalic.ttf);
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../font/OpenSans/open-sans-italic-800.woff2) format('woff2'), url(../font/OpenSans/open-sans-italic-800.woff) format('woff');
}